body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #38bdf8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
}

Mejoro diseño con CSS
img {
  border-radius: 50%;
  margin: 20px 0;
}
<a href="https://github.com/TUUSUARIO" target="_blank">
  Mi GitHub
</a>
a {
  display: inline-block;
  margin-top: 20px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}
button {
  background: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
  background: #0ea5e9;
}
Estilo al botón interactivo
.skills {
  margin-top: 20px;
}

.skills button {
  margin: 5px;
  background: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.skills button:hover {
  background: #0ea5e9;
}

#descripcion {
  margin-top: 15px;
  font-size: 1rem;
}
Estilo para botones de aprendizaje
